### Part 0: Import and Download NCBI Taxa Database

reference:http://etetoolkit.org/docs/latest/tutorial/tutorial_ncbitaxonomy.html

In [234]:
import numpy as np
import pandas as pd
from ete3 import NCBITaxa

In [235]:
# Download NCBI Taxa Database
ncbi = NCBITaxa()
ncbi.update_taxonomy_database()

### Part 1: Read Nanopore Data

In [236]:
#################################################
# Select raw data 
# (1) 'exit_status' == 'Classification successful'
# (2) 'barcode' == 'BC04'

raw = pd.read_csv('./nanopore_preprocess_data/207946_classification_16s_barcode-v1.csv', encoding = 'utf-8')

#raw_sucess_BC04 = pd.DataFrame([(raw['exit_status'] == 'Classification successful') & (raw['barcode'] == 'BC04')])

raw_sucess_BC04 = raw[(raw['exit_status'] == 'Classification successful') & (raw['barcode'] == 'BC04')]

raw_sucess_BC04 = raw_sucess_BC04.sort_values(by=['accuracy'], ascending=False)

#raw_sucess_BC04.to_csv('raw_sucess_BC04.csv', encoding='utf-8')
print(len(raw_sucess_BC04))

736862

In [237]:
################################################
# Data with >90% accuray of taxid and read_count

data_accuracy90 = raw_sucess_BC04[raw_sucess_BC04['accuracy'] >= 90]
print(len(data_accuracy90))

taxid_list90 = pd.DataFrame(data_accuracy90.groupby('taxid').count()['read_id'])

taxid_list90.columns = ['read_count']

taxid_list90.to_csv('./accuracy_read/taxid_list90.csv', encoding='utf-8')
taxid_list90.head()

195245

       read_count
taxid
2             410
356             1
403             7
543          8596
545            40

In [238]:
################################################
# Data with >85% accuray of taxid and read_count

data_accuracy85 = raw_sucess_BC04[raw_sucess_BC04['accuracy'] >= 85]
print(len(data_accuracy85))

taxid_list85 = pd.DataFrame(data_accuracy85.groupby('taxid').count()['read_id'])

taxid_list85.columns = ['read_count']

taxid_list85.to_csv('./accuracy_read/taxid_list85.csv', encoding='utf-8')
taxid_list85.head()

583049

       read_count
taxid
2            2214
356             3
403             9
471             1
543         25821

In [239]:
################################################
# Data with >80% accuray of taxid and read_count

data_accuracy80 = raw_sucess_BC04[raw_sucess_BC04['accuracy'] >= 80]
print(len(data_accuracy80))

taxid_list80 = pd.DataFrame(data_accuracy80.groupby('taxid').count()['read_id'])

taxid_list80.columns = ['read_count']

taxid_list80.to_csv('./accuracy_read/taxid_list80.csv', encoding='utf-8')
taxid_list80.head()

725907

       read_count
taxid
2            5756
89              1
126             1
154             1
292             1

### Part 2: Analysis 16s

### No Selection in accuracy

In [240]:
data = pd.read_csv('./nanopore_preprocess_data/taxid_list.csv', encoding = 'utf-8')
data.head()

taxid = list(data['taxids'])
read_count = list(data['Freq'])
total_count = len(raw_sucess_BC04)

###############
# taxid to name

name = ncbi.get_taxid_translator(taxid)


###############
# taxid to rank
rank = ncbi.get_rank([taxid[0]])

In [241]:
##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage = pd.DataFrame(columns= ['taxid'])
id_lineage['taxid'] = taxid
id_lineage.head()

   taxid
0      2
1     89
2    126
3    154
4    292

In [242]:
###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid)):
    L = ncbi.get_lineage(taxid[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage.at[i, list(rank.values())[0]] = str(node)

/Users/hou/anaconda3/lib/python3.6/site-packages/ete3/ncbi_taxonomy/ncbiquery.py:240: UserWarning: taxid 140100 was translated into 666
  warnings.warn("taxid %s was translated into %s" %(taxid, merged_conversion[taxid]))

In [243]:
id_lineage.head(10)

,taxid,no rank,superkingdom,phylum,class,order,genus,species,family,species group,subspecies,subphylum,species subgroup,suborder
0,2,131567,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,89,224471,2,1224,28216,80840,88,89,NaN,NaN,NaN,NaN,NaN,NaN
2,126,1783257,2,203682,203683,112,NaN,NaN,126,NaN,NaN,NaN,NaN,NaN
3,154,131567,2,203691,203692,136,146,154,137,NaN,NaN,NaN,NaN,NaN
4,292,131567,2,1224,28216,80840,32008,292,119060,87882,NaN,NaN,NaN,NaN
5,304,131567,2,1224,28216,80840,335058,304,80864,NaN,NaN,NaN,NaN,NaN
6,337,131567,2,1224,28216,80840,32008,337,119060,NaN,NaN,NaN,NaN,NaN
7,356,131567,2,1224,28211,356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,403,131567,2,1224,1236,135618,NaN,NaN,403,NaN,NaN,NaN,NaN,NaN
9,471,131567,2,1224,1236,72274,469,471,468,909768,NaN,NaN,NaN,NaN

In [244]:
##########################
# superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid, id_lineage['superkingdom'], read_count)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )


count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count)*100
count_superkingdom.to_csv('./result/count_superkingdom_noSelect.csv', encoding='utf-8')
count_superkingdom

                  name  read_count  percentage
superkingdom
2             Bacteria      736859   99.999593

In [245]:
####################
# phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid, id_lineage['phylum'], read_count)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count)*100
count_phylum.to_csv('./result/count_phylum_noSelect.csv', encoding='utf-8')
count_phylum

                         name  read_count  percentage
phylum
976             Bacteroidetes      391769   53.167214
1239               Firmicutes      136609   18.539292
1224           Proteobacteria       93084   12.632487
74201         Verrucomicrobia       54557    7.403964
32066            Fusobacteria       54427    7.386322
201174         Actinobacteria          24    0.003257
1117            Cyanobacteria           2    0.000271
203691           Spirochaetes           2    0.000271
544448            Tenericutes           2    0.000271
203682         Planctomycetes           1    0.000136
2138240  Coprothermobacterota           1    0.000136
65842           Fibrobacteres           1    0.000136
67819         Armatimonadetes           1    0.000136
74152           Elusimicrobia           1    0.000136

In [246]:
####################
# class: Read count 

class_ = pd.DataFrame(list(zip(taxid, id_lineage['class'], read_count)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count)*100
count_class.to_csv('./result/count_class_noSelect.csv', encoding='utf-8')
count_class

                          name  read_count  percentage
class
200643             Bacteroidia      391545   53.136815
1236       Gammaproteobacteria       78028   10.589228
909932           Negativicutes       72178    9.795321
186801              Clostridia       61881    8.397909
203494        Verrucomicrobiae       54535    7.400979
203490           Fusobacteriia       54427    7.386322
28216       Betaproteobacteria       14355    1.948126
91061                  Bacilli        1040    0.141139
28221      Deltaproteobacteria         587    0.079662
526524        Erysipelotrichia         228    0.030942
117747        Sphingobacteriia          28    0.003800
1853228          Chitinophagia          22    0.002986
1760            Actinobacteria          15    0.002036
768503              Cytophagia          14    0.001900
28211      Alphaproteobacteria          12    0.001629
117743          Flavobacteriia          11    0.001493
84998           Coriobacteriia           7    0.000950
29547    Epsilonproteobacteria           4    0.000543
1737404           Tissierellia           3    0.000407
414999                Opitutae           3    0.000407
1497346        Thermoleophilia           2    0.000271
203692            Spirochaetia           2    0.000271
31969               Mollicutes           2    0.000271
641853           Elusimicrobia           1    0.000136
1077257       Chthonomonadetes           1    0.000136
2138243    Coprothermobacteria           1    0.000136
1937959            Saprospiria           1    0.000136
1860136       Chitinispirillia           1    0.000136
203683          Planctomycetia           1    0.000136

In [247]:
####################
# order: Read count 

order = pd.DataFrame(list(zip(taxid, id_lineage['order'], read_count)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count)*100
count_order.to_csv('./result/count_order_noSelect.csv', encoding='utf-8')
count_order

                                           name  read_count  percentage
order
171549                            Bacteroidales      391461   53.125416
91347                          Enterobacterales       75774   10.283337
186802                            Clostridiales       61873    8.396823
48461                        Verrucomicrobiales       54535    7.400979
203491                          Fusobacteriales       54427    7.386322
1843488                       Acidaminococcales       46896    6.364285
80840                           Burkholderiales       14064    1.908634
186826                          Lactobacillales         990    0.134354
213115                       Desulfovibrionales         580    0.078712
135624                            Aeromonadales         230    0.031213
526525                       Erysipelotrichales         228    0.030942
909929                          Selenomonadales         206    0.027956
135623                              Vibrionales         163    0.022121
1385                                 Bacillales          36    0.004886
200666                       Sphingobacteriales          28    0.003800
1853229                         Chitinophagales          22    0.002986
135622                          Alteromonadales          20    0.002714
1843489                          Veillonellales          16    0.002171
768507                             Cytophagales          14    0.001900
135625                           Pasteurellales          11    0.001493
200644                         Flavobacteriales          11    0.001493
1970189                        Marinilabiliales           9    0.001221
72274                           Pseudomonadales           9    0.001221
135618                          Methylococcales           9    0.001221
356                                 Rhizobiales           8    0.001086
1643822                          Eggerthellales           7    0.000950
135613                             Chromatiales           5    0.000679
135614                          Xanthomonadales           5    0.000679
85006                             Micrococcales           4    0.000543
213462                      Syntrophobacterales           4    0.000543
...                                         ...         ...         ...
213849                        Campylobacterales           4    0.000543
206389                            Rhodocyclales           3    0.000407
415001                          Puniceicoccales           3    0.000407
588673                      Solirubrobacterales           2    0.000271
2085                            Mycoplasmatales           2    0.000271
135615                        Cardiobacteriales           2    0.000271
206351                             Neisseriales           2    0.000271
135619                        Oceanospirillales           2    0.000271
1100069  Bacteroidetes Order II. Incertae sedis           2    0.000271
136                              Spirochaetales           2    0.000271
68295                    Thermoanaerobacterales           1    0.000136
85007                         Corynebacteriales           1    0.000136
85004                         Bifidobacteriales           1    0.000136
85008                         Micromonosporales           1    0.000136
85009                       Propionibacteriales           1    0.000136
641854                         Elusimicrobiales           1    0.000136
1077263                        Chthonomonadales           1    0.000136
53433                           Halanaerobiales           1    0.000136
52604                            Pleurocapsales           1    0.000136
29                                 Myxococcales           1    0.000136
2138246                   Coprothermobacterales           1    0.000136
204457                         Sphingomonadales           1    0.000136
2037                            Actinomycetales           1    0.000136
1936988                           Saprospirales           1    0.000136
1890505                   Chroococcidiopsidales           1    0.000136
1860137                      Chitinispirillales           1    0.000136
1737405                          Tissierellales           1    0.000136
1706369                         Cellvibrionales           1    0.000136
112                            Planctomycetales           1    0.000136
204441                         Rhodospirillales           1    0.000136

[62 rows x 3 columns]

In [248]:
####################
# family: Read count 

family = pd.DataFrame(list(zip(taxid, id_lineage['family'], read_count)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count)*100
count_family.to_csv('./result/count_family_noSelect.csv', encoding='utf-8')
count_family

                                             name  read_count  percentage
family
815                                Bacteroidaceae      280023   38.002095
171552                             Prevotellaceae       82791   11.235618
203492                           Fusobacteriaceae       54421    7.385508
1647988                           Akkermansiaceae       53798    7.300960
543                            Enterobacteriaceae       53722    7.290646
186803                            Lachnospiraceae       49422    6.707090
909930                         Acidaminococcaceae       46896    6.364285
2005525                            Tannerellaceae       18954    2.572259
995019                             Sutterellaceae       11953    1.622149
541000                            Ruminococcaceae        5836    0.792007
216572                           Oscillospiraceae        2273    0.308470
1853231                          Odoribacteraceae        1502    0.203837
1300                             Streptococcaceae         885    0.120104
194924                        Desulfovibrionaceae         572    0.077626
171550                              Rikenellaceae         471    0.063920
1903409                               Erwiniaceae         273    0.037049
84642                              Aeromonadaceae         230    0.031213
128827                        Erysipelotrichaceae         228    0.030942
1903410                         Pectobacteriaceae         215    0.029178
1843490                             Sporomusaceae         190    0.025785
1903411                              Yersiniaceae         165    0.022392
1903414                            Morganellaceae         164    0.022257
641                                  Vibrionaceae         163    0.022121
1903412                                Hafniaceae          97    0.013164
119060                           Burkholderiaceae          62    0.008414
80864                              Comamonadaceae          43    0.005836
186828                          Carnobacteriaceae          42    0.005700
186804                      Peptostreptococcaceae          35    0.004750
75682                            Oxalobacteraceae          32    0.004343
506                                Alcaligenaceae          32    0.004343
...                                           ...         ...         ...
85023                           Microbacteriaceae           1    0.000136
1077264                         Chthonomonadaceae           1    0.000136
2049                             Actinomycetaceae           1    0.000136
89374                              Saprospiraceae           1    0.000136
1129771                          Leptotrichiaceae           1    0.000136
990719                        Christensenellaceae           1    0.000136
641876                          Elusimicrobiaceae           1    0.000136
31957                        Propionibacteriaceae           1    0.000136
1890498                         Dermocarpellaceae           1    0.000136
1653                           Corynebacteriaceae           1    0.000136
186827                              Aerococcaceae           1    0.000136
31953                          Bifidobacteriaceae           1    0.000136
320583                          Conexibacteraceae           1    0.000136
186824                     Thermoactinomycetaceae           1    0.000136
361606                          Patulibacteraceae           1    0.000136
28256                              Halomonadaceae           1    0.000136
41294                           Bradyrhizobiaceae           1    0.000136
28056                          Micromonosporaceae           1    0.000136
45401                           Hyphomicrobiaceae           1    0.000136
186820                               Listeriaceae           1    0.000136
186814                    Thermoanaerobacteraceae           1    0.000136
267892                            Ferrimonadaceae           1    0.000136
1890528                    Chroococcidiopsidaceae           1    0.000136
541019                         Gracilibacteraceae           1    0.000136
1860138                       Chitinispirillaceae           1    0.000136
543313   Clostridiales Family XII. Incertae Sedis           1    0.000136
1771359                            Thorselliaceae           1    0.000136
1755828                       Ichthyobacteriaceae           1    0.000136
563798                          Cyclobacteriaceae           1    0.000136
53434                          Halobacteroidaceae           1    0.000136

[119 rows x 3 columns]

In [249]:
####################
# genus: Read count 

genus = pd.DataFrame(list(zip(taxid, id_lineage['genus'], read_count)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count)*100
count_genus.to_csv('./result/count_genus_noSelect.csv', encoding='utf-8')
count_genus

                          name  read_count  percentage
genus
816                Bacteroides      279409   37.918769
838                 Prevotella       72074    9.781207
848              Fusobacterium       54050    7.335159
239934             Akkermansia       53798    7.300960
1506553      Lachnoclostridium       32599    4.424031
375288         Parabacteroides       18682    2.535346
570                 Klebsiella       13141    1.783373
40544               Sutterella        9562    1.297665
2039240           Anaerotignum        7156    0.971145
544                Citrobacter        4227    0.573649
577309          Paraprevotella        3523    0.478109
459786           Oscillibacter        2273    0.308470
283168             Odoribacter        1496    0.203023
561                Escherichia        1438    0.195152
572511                 Blautia        1173    0.159189
547               Enterobacter        1003    0.136118
620                   Shigella         920    0.124854
1357               Lactococcus         737    0.100019
872              Desulfovibrio         473    0.064191
239759               Alistipes         467    0.063377
642                  Aeromonas         226    0.030671
2005359          Faecalicatena         185    0.025106
122277          Pectobacterium         179    0.024292
1330547              Kosakonia         174    0.023614
1301             Streptococcus         146    0.019814
33024    Phascolarctobacterium         136    0.018457
160674              Raoultella         120    0.016285
2375                 Sporomusa         119    0.016150
83654                Leclercia         113    0.015335
662                     Vibrio         109    0.014792
...                        ...         ...         ...
34072               Variovorax           1    0.000136
34104          Streptobacillus           1    0.000136
342658           Gracilibacter           1    0.000136
349314           Luedemannella           1    0.000136
354354               Niastella           1    0.000136
358023              Lutibacter           1    0.000136
361607            Patulibacter           1    0.000136
375673          Paraferrimonas           1    0.000136
397864             Barnesiella           1    0.000136
406099           Aquisalimonas           1    0.000136
407217               Aquitalea           1    0.000136
29574               Taylorella           1    0.000136
29526          Syntrophobacter           1    0.000136
286                Pseudomonas           1    0.000136
2304692    Hungateiclostridium           1    0.000136
1960084          Rodentibacter           1    0.000136
202949        Thermanaeromonas           1    0.000136
204475                Gemmiger           1    0.000136
2055880       Pseudescherichia           1    0.000136
223927        Oxalicibacterium           1    0.000136
2282740            Desulfallas           1    0.000136
2373                 Acetonema           1    0.000136
102115               Stanieria           1    0.000136
252356              Maribacter           1    0.000136
256818            Gulosibacter           1    0.000136
2582840     Desulfocurvibacter           1    0.000136
2745                 Halomonas           1    0.000136
2747            Carnobacterium           1    0.000136
28253              Marinomonas           1    0.000136
990721         Christensenella           1    0.000136

[240 rows x 3 columns]

In [250]:
####################
# species: Read count 

species = pd.DataFrame(list(zip(taxid, id_lineage['species'], read_count)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count)*100
count_species.to_csv('./result/count_species_noSelect.csv', encoding='utf-8')
count_species

                                     name  read_count  percentage
species
310297               Bacteroides plebeius      105613   14.332806
363265               Prevotella stercorea       71400    9.689738
821                  Bacteroides vulgatus       55928    7.590024
46506               Bacteroides stercoris       55393    7.517418
239935            Akkermansia muciniphila       53781    7.298653
856                  Fusobacterium varium       45323    6.150812
47678                  Bacteroides caccae       25110    3.407694
208479              [Clostridium] bolteae       23250    3.155272
573                 Klebsiella pneumoniae       11649    1.580893
823            Parabacteroides distasonis       11397    1.546694
820                 Bacteroides uniformis       10442    1.417090
40545           Sutterella wadsworthensis        9304    1.262652
861                Fusobacterium ulcerans        7767    1.054064
46503              Parabacteroides merdae        7193    0.976167
160404     Anaerotignum lactatifermentans        7132    0.967888
28116                  Bacteroides ovatus        6107    0.828785
1531        [Clostridium] clostridioforme        4359    0.591563
818          Bacteroides thetaiotaomicron        3581    0.485980
454154               Paraprevotella clara        3515    0.477023
626929                 Bacteroides clarus        3272    0.444045
357276                  Bacteroides dorei        2946    0.399803
546                  Citrobacter freundii        2441    0.331270
371601          Bacteroides xylanisolvens        2227    0.302228
351091        Oscillibacter valericigenes        1954    0.265179
28118            Odoribacter splanchnicus        1496    0.203023
291644             Bacteroides salyersiae        1473    0.199902
358742            [Clostridium] aldenense        1320    0.179138
1463165        Klebsiella quasipneumoniae        1225    0.166246
674529                 Bacteroides faecis        1185    0.160817
310298              Bacteroides coprocola        1167    0.158374
...                                   ...         ...         ...
2120              Mycoplasma neurolyticum           1    0.000136
491207             Chryseobacterium oleae           1    0.000136
490092                 Haloferula harenae           1    0.000136
487175   Parasutterella excrementihominis           1    0.000136
487174       Barnesiella intestinihominis           1    0.000136
48256          Ruminiclostridium hungatei           1    0.000136
216816             Bifidobacterium longum           1    0.000136
218936                   Aeromonas simiae           1    0.000136
472694                   Pantoea brenneri           1    0.000136
471           Acinetobacter calcoaceticus           1    0.000136
470934                     Pantoea vagans           1    0.000136
208223                  Kosakonia cowanii           1    0.000136
516074       Providencia burhodogranariea           1    0.000136
516075                Providencia sneebia           1    0.000136
190892                 Idiomarina baltica           1    0.000136
1854764              Olivibacter composti           1    0.000136
1873482            Xenorhabdus eapokensis           1    0.000136
1874115       Sphingobacterium alkalisoli           1    0.000136
187491            Corynebacterium glaucum           1    0.000136
189723                  Prevotella micans           1    0.000136
1906745               Rodentibacter ratti           1    0.000136
1926872             Ramlibacter monticola           1    0.000136
53399        Hyphomicrobium denitrificans           1    0.000136
1940611           Conexibacter stalactiti           1    0.000136
195930            Cupriavidus respiraculi           1    0.000136
196015           Caldimonas manganoxidans           1    0.000136
539813                  Enterobacter mori           1    0.000136
2017550              Oceanisphaera marina           1    0.000136
2034155                   Serratia oryzae           1    0.000136
340956             Desulfovibrio frigidus           1    0.000136

[698 rows x 3 columns]

### Accuracy >= 90%

In [251]:
data = pd.read_csv('./accuracy_read/taxid_list90.csv', encoding = 'utf-8')

data.head()

   taxid  read_count
0      2         410
1    356           1
2    403           7
3    543        8596
4    545          40

In [252]:
taxid = list(data['taxid'])
read_count = list(data['read_count'])

total_count = len(data_accuracy90)

###############
# taxid to name

name = ncbi.get_taxid_translator(taxid)


###############
# taxid to rank
rank = ncbi.get_rank([taxid[0]])

In [253]:
##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage = pd.DataFrame(columns= ['taxid'])
id_lineage['taxid'] = taxid
id_lineage.head()

   taxid
0      2
1    356
2    403
3    543
4    545

In [254]:
###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid)):
    L = ncbi.get_lineage(taxid[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage.at[i, list(rank.values())[0]] = str(node)

In [255]:
id_lineage.head(10)

,taxid,no rank,superkingdom,phylum,class,order,family,genus,species,species group,subspecies,subphylum
0,2,131567,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,356,131567,2,1224,28211,356,NaN,NaN,NaN,NaN,NaN,NaN
2,403,131567,2,1224,1236,135618,403,NaN,NaN,NaN,NaN,NaN
3,543,131567,2,1224,1236,91347,543,NaN,NaN,NaN,NaN,NaN
4,545,131567,2,1224,1236,91347,543,544,545,NaN,NaN,NaN
5,546,131567,2,1224,1236,91347,543,544,546,1344959,NaN,NaN
6,548,131567,2,1224,1236,91347,543,570,548,NaN,NaN,NaN
7,549,131567,2,1224,1236,91347,1903409,53335,549,1654067,NaN,NaN
8,550,131567,2,1224,1236,91347,543,547,550,354276,NaN,NaN
9,552,131567,2,1224,1236,91347,1903409,551,552,NaN,NaN,NaN

In [256]:
##########################
# superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid, id_lineage['superkingdom'], read_count)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )

count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count)*100
count_superkingdom.to_csv('./result/count_superkingdom_accuracy90.csv', encoding='utf-8')
count_superkingdom

                  name  read_count  percentage
superkingdom
2             Bacteria      195245       100.0

In [257]:
####################
# phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid, id_lineage['phylum'], read_count)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count)*100
count_phylum.to_csv('./result/count_phylum_accuracy90.csv', encoding='utf-8')
count_phylum

                   name  read_count  percentage
phylum
976       Bacteroidetes      101449   51.959845
1239         Firmicutes       34207   17.520039
1224     Proteobacteria       23117   11.839996
32066      Fusobacteria       18702    9.578734
74201   Verrucomicrobia       17333    8.877564
201174   Actinobacteria          11    0.005634
544448      Tenericutes           1    0.000512
65842     Fibrobacteres           1    0.000512

In [258]:
####################
# class: Read count 

class_ = pd.DataFrame(list(zip(taxid, id_lineage['class'], read_count)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count)*100
count_class.to_csv('./result/count_class_accuracy90.csv', encoding='utf-8')
count_class

                        name  read_count  percentage
class
200643           Bacteroidia      101407   51.938334
909932         Negativicutes       20500   10.499629
1236     Gammaproteobacteria       19515    9.995134
203490         Fusobacteriia       18702    9.578734
203494      Verrucomicrobiae       17330    8.876028
186801            Clostridia       13207    6.764322
28216     Betaproteobacteria        3582    1.834618
91061                Bacilli         291    0.149044
526524      Erysipelotrichia          59    0.030218
117747      Sphingobacteriia          11    0.005634
1760          Actinobacteria           8    0.004097
28221    Deltaproteobacteria           5    0.002561
768503            Cytophagia           5    0.002561
1853228        Chitinophagia           4    0.002049
28211    Alphaproteobacteria           4    0.002049
414999              Opitutae           2    0.001024
84998         Coriobacteriia           2    0.001024
117743        Flavobacteriia           2    0.001024
1860136     Chitinispirillia           1    0.000512
31969             Mollicutes           1    0.000512
1497346      Thermoleophilia           1    0.000512

In [259]:
####################
# order: Read count 

order = pd.DataFrame(list(zip(taxid, id_lineage['order'], read_count)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count)*100
count_order.to_csv('./result/count_order_accuracy90.csv', encoding='utf-8')
count_order

                        name  read_count  percentage
order
171549         Bacteroidales      101387   51.928090
91347       Enterobacterales       19306    9.888089
203491       Fusobacteriales       18702    9.578734
48461     Verrucomicrobiales       17330    8.876028
1843488    Acidaminococcales       13268    6.795565
186802         Clostridiales       13205    6.763297
80840        Burkholderiales        3573    1.830008
186826       Lactobacillales         281    0.143922
526525    Erysipelotrichales          59    0.030218
135624         Aeromonadales          49    0.025097
200666    Sphingobacteriales          11    0.005634
1385              Bacillales          10    0.005122
135618       Methylococcales           7    0.003585
909929       Selenomonadales           6    0.003073
768507          Cytophagales           5    0.002561
1853229      Chitinophagales           4    0.002049
85011       Streptomycetales           4    0.002049
213462   Syntrophobacterales           3    0.001537
1970189     Marinilabiliales           3    0.001537
72274        Pseudomonadales           3    0.001537
1843489       Veillonellales           3    0.001537
356              Rhizobiales           3    0.001537
415001       Puniceicoccales           2    0.001024
135613          Chromatiales           2    0.001024
213115    Desulfovibrionales           2    0.001024
200644      Flavobacteriales           2    0.001024
1643822       Eggerthellales           2    0.001024
135625        Pasteurellales           2    0.001024
2085         Mycoplasmatales           1    0.000512
135622       Alteromonadales           1    0.000512
2037         Actinomycetales           1    0.000512
135614       Xanthomonadales           1    0.000512
53433        Halanaerobiales           1    0.000512
588673   Solirubrobacterales           1    0.000512
1860137   Chitinispirillales           1    0.000512
135615     Cardiobacteriales           1    0.000512
85004      Bifidobacteriales           1    0.000512
85007      Corynebacteriales           1    0.000512
206389         Rhodocyclales           1    0.000512

In [260]:
####################
# family: Read count 

family = pd.DataFrame(list(zip(taxid, id_lineage['family'], read_count)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count)*100
count_family.to_csv('./result/count_family_accracy90.csv', encoding='utf-8')
count_family

                                             name  read_count  percentage
family
815                                Bacteroidaceae       72176   36.966888
171552                             Prevotellaceae       23511   12.041794
203492                           Fusobacteriaceae       18700    9.577710
1647988                           Akkermansiaceae       17147    8.782299
543                            Enterobacteriaceae       13486    6.907219
909930                         Acidaminococcaceae       13268    6.795565
186803                            Lachnospiraceae       11220    5.746626
2005525                            Tannerellaceae        4620    2.366258
995019                             Sutterellaceae        3339    1.710159
541000                            Ruminococcaceae        1185    0.606930
1853231                          Odoribacteraceae         398    0.203846
1300                             Streptococcaceae         263    0.134703
171550                              Rikenellaceae         127    0.065046
128827                        Erysipelotrichaceae          59    0.030218
1903410                         Pectobacteriaceae          56    0.028682
84642                              Aeromonadaceae          49    0.025097
1903414                            Morganellaceae          27    0.013829
216572                           Oscillospiraceae          15    0.007683
1903412                                Hafniaceae          13    0.006658
84566                         Sphingobacteriaceae          11    0.005634
171551                         Porphyromonadaceae           8    0.004097
1903409                               Erwiniaceae           8    0.004097
186807                             Peptococcaceae           8    0.004097
186828                          Carnobacteriaceae           7    0.003585
1903411                              Yersiniaceae           7    0.003585
403                              Methylococcaceae           7    0.003585
31979                              Clostridiaceae           5    0.002561
186804                      Peptostreptococcaceae           5    0.002561
1843490                             Sporomusaceae           4    0.002049
2062                            Streptomycetaceae           4    0.002049
...                                           ...         ...         ...
194924                        Desulfovibrionaceae           2    0.001024
1643826                           Eggerthellaceae           2    0.001024
89373                               Cytophagaceae           2    0.001024
415002                           Puniceicoccaceae           2    0.001024
468                                 Moraxellaceae           2    0.001024
1853232                         Hymenobacteraceae           2    0.001024
712                               Pasteurellaceae           2    0.001024
1860138                       Chitinispirillaceae           1    0.000512
135621                           Pseudomonadaceae           1    0.000512
868                            Cardiobacteriaceae           1    0.000512
1653                           Corynebacteriaceae           1    0.000512
1775411                        Rhodanobacteraceae           1    0.000512
1843491                          Selenomonadaceae           1    0.000512
81850                            Leuconostocaceae           1    0.000512
80864                              Comamonadaceae           1    0.000512
72276                      Ectothiorhodospiraceae           1    0.000512
31953                          Bifidobacteriaceae           1    0.000512
267888                     Pseudoalteromonadaceae           1    0.000512
543313   Clostridiales Family XII. Incertae Sedis           1    0.000512
2008794                              Zoogloeaceae           1    0.000512
2049                             Actinomycetaceae           1    0.000512
53434                          Halobacteroidaceae           1    0.000512
506                                Alcaligenaceae           1    0.000512
45401                           Hyphomicrobiaceae           1    0.000512
2092                             Mycoplasmataceae           1    0.000512
361606                          Patulibacteraceae           1    0.000512
33958                            Lactobacillaceae           1    0.000512
31984                           Heliobacteriaceae           1    0.000512
118882                               Brucellaceae           1    0.000512
1046                                Chromatiaceae           1    0.000512

[66 rows x 3 columns]

In [261]:
####################
# genus: Read count 

genus = pd.DataFrame(list(zip(taxid, id_lineage['genus'], read_count)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count)*100
count_genus.to_csv('./result/count_genus_accuracy90.csv', encoding='utf-8')
count_genus

                           name  read_count  percentage
genus
816                 Bacteroides       72101   36.928474
838                  Prevotella       21442   10.982099
848               Fusobacterium       18609    9.531102
239934              Akkermansia       17147    8.782299
1506553       Lachnoclostridium        7465    3.823401
375288          Parabacteroides        4468    2.288407
570                  Klebsiella        3145    1.610797
40544                Sutterella        3036    1.554969
2039240            Anaerotignum        2075    1.062767
544                 Citrobacter         882    0.451740
577309           Paraprevotella         676    0.346232
561                 Escherichia         419    0.214602
283168              Odoribacter         397    0.203334
572511                  Blautia         263    0.134703
1357                Lactococcus         224    0.114728
620                    Shigella         218    0.111655
547                Enterobacter         157    0.080412
239759                Alistipes         125    0.064022
122277           Pectobacterium          55    0.028170
642                   Aeromonas          49    0.025097
1301              Streptococcus          39    0.019975
83654                 Leclercia          28    0.014341
586                 Providencia          19    0.009731
160674               Raoultella          19    0.009731
33024     Phascolarctobacterium          16    0.008195
459786            Oscillibacter          15    0.007683
1505663  Erysipelatoclostridium          13    0.006658
195950               Tannerella          12    0.006146
1330547               Kosakonia          10    0.005122
1378                    Gemella           7    0.003585
...                         ...         ...         ...
1678            Bifidobacterium           1    0.000512
1649459              Hungatella           1    0.000512
1649291      Falsiporphyromonas           1    0.000512
1628153        Carboxylicivirga           1    0.000512
1541670    Methylacidimicrobium           1    0.000512
51196          Syntrophobotulus           1    0.000512
1433993            Chryseolinea           1    0.000512
1335483              Shimwellia           1    0.000512
1257         Peptostreptococcus           1    0.000512
1253                Pediococcus           1    0.000512
1243                Leuconostoc           1    0.000512
124224               Brackiella           1    0.000512
1892380            Harryflintia           1    0.000512
189330                    Dorea           1    0.000512
1929083           Tidjanibacter           1    0.000512
1980697         Duodenibacillus           1    0.000512
2093                 Mycoplasma           1    0.000512
231454                   Dyella           1    0.000512
286                 Pseudomonas           1    0.000512
1164882     Lachnoanaerobaculum           1    0.000512
336830          Arsukibacterium           1    0.000512
361607             Patulibacter           1    0.000512
376469              Olivibacter           1    0.000512
39948                 Dialister           1    0.000512
406099            Aquisalimonas           1    0.000512
423349         Mucilaginibacter           1    0.000512
44748               Sporobacter           1    0.000512
469               Acinetobacter           1    0.000512
475                   Moraxella           1    0.000512
88358      Thermodesulforhabdus           1    0.000512

[106 rows x 3 columns]

In [262]:
####################
# species: Read count 

species = pd.DataFrame(list(zip(taxid, id_lineage['species'], read_count)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count)*100
count_species.to_csv('./result/count_species_accuracy90.csv', encoding='utf-8')
count_species

                                    name  read_count  percentage
species
310297              Bacteroides plebeius       25324   12.970371
363265              Prevotella stercorea       21267   10.892468
821                 Bacteroides vulgatus       18203    9.323158
239935           Akkermansia muciniphila       17144    8.780763
856                 Fusobacterium varium       16212    8.303414
46506              Bacteroides stercoris       11683    5.983764
47678                 Bacteroides caccae        7274    3.725576
208479             [Clostridium] bolteae        5944    3.044380
40545          Sutterella wadsworthensis        2995    1.533970
573                Klebsiella pneumoniae        2840    1.454583
820                Bacteroides uniformis        2825    1.446900
861               Fusobacterium ulcerans        2368    1.212835
46503             Parabacteroides merdae        2307    1.181592
823           Parabacteroides distasonis        2146    1.099132
160404    Anaerotignum lactatifermentans        2071    1.060719
28116                 Bacteroides ovatus        1551    0.794387
357276                 Bacteroides dorei        1000    0.512177
1531       [Clostridium] clostridioforme         874    0.447643
818         Bacteroides thetaiotaomicron         814    0.416912
454154              Paraprevotella clara         676    0.346232
310298             Bacteroides coprocola         620    0.317550
371601         Bacteroides xylanisolvens         614    0.314477
376806            Bacteroides gallinarum         527    0.269917
546                 Citrobacter freundii         455    0.233041
291644            Bacteroides salyersiae         420    0.215114
28118           Odoribacter splanchnicus         397    0.203334
564               Escherichia fergusonii         334    0.171067
626929                Bacteroides clarus         326    0.166970
358742           [Clostridium] aldenense         302    0.154677
1463165       Klebsiella quasipneumoniae         260    0.133166
...                                  ...         ...         ...
433321             Propionispira arcuata           1    0.000512
43657    Pseudoalteromonas luteoviolacea           1    0.000512
44749             Sporobacter termitidis           1    0.000512
477666        Bacteroides graminisolvens           1    0.000512
39778                 Veillonella dispar           1    0.000512
47917                 Serratia fonticola           1    0.000512
51197        Syntrophobotulus glycolicus           1    0.000512
51288                 Kluyvera ascorbata           1    0.000512
53399       Hyphomicrobium denitrificans           1    0.000512
54736                 Salmonella bongori           1    0.000512
549                  Pantoea agglomerans           1    0.000512
39841     Thermodesulforhabdus norvegica           1    0.000512
387661         Parabacteroides johnsonii           1    0.000512
28114                Porphyromonas levii           1    0.000512
29466                Veillonella parvula           1    0.000512
28119         Bacteroides zoogleoformans           1    0.000512
28129               Prevotella denticola           1    0.000512
283686           Kosakonia radicincitans           1    0.000512
29347             [Clostridium] scindens           1    0.000512
29380              Staphylococcus caprae           1    0.000512
29388             Staphylococcus capitis           1    0.000512
298163         Patulibacter minatonensis           1    0.000512
34062                Moraxella osloensis           1    0.000512
300181               Serratia ureilytica           1    0.000512
305719               Prevotella baroniae           1    0.000512
33035                   Blautia producta           1    0.000512
331697            Chitinophaga skermanii           1    0.000512
336831           Arsukibacterium ikkense           1    0.000512
33964                Leuconostoc citreum           1    0.000512
947013              Chryseolinea serpens           1    0.000512

[259 rows x 3 columns]

### Accuracy >= 85%

In [263]:
data = pd.read_csv('./accuracy_read/taxid_list85.csv', encoding = 'utf-8')

data.head()

   taxid  read_count
0      2        2214
1    356           3
2    403           9
3    471           1
4    543       25821

In [264]:
taxid = list(data['taxid'])
read_count = list(data['read_count'])

total_count = len(data_accuracy85)

###############
# taxid to name

name = ncbi.get_taxid_translator(taxid)


###############
# taxid to rank
rank = ncbi.get_rank([taxid[0]])

In [265]:
##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage = pd.DataFrame(columns= ['taxid'])
id_lineage['taxid'] = taxid
id_lineage.head()

   taxid
0      2
1    356
2    403
3    471
4    543

In [266]:
###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid)):
    L = ncbi.get_lineage(taxid[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage.at[i, list(rank.values())[0]] = str(node)

In [267]:
id_lineage.head(10)

,taxid,no rank,superkingdom,phylum,class,order,family,genus,species group,species,subspecies,subphylum
0,2,131567,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,356,131567,2,1224,28211,356,NaN,NaN,NaN,NaN,NaN,NaN
2,403,131567,2,1224,1236,135618,403,NaN,NaN,NaN,NaN,NaN
3,471,131567,2,1224,1236,72274,468,469,909768,471,NaN,NaN
4,543,131567,2,1224,1236,91347,543,NaN,NaN,NaN,NaN,NaN
5,545,131567,2,1224,1236,91347,543,544,NaN,545,NaN,NaN
6,546,131567,2,1224,1236,91347,543,544,1344959,546,NaN,NaN
7,548,131567,2,1224,1236,91347,543,570,NaN,548,NaN,NaN
8,549,131567,2,1224,1236,91347,1903409,53335,1654067,549,NaN,NaN
9,550,131567,2,1224,1236,91347,543,547,354276,550,NaN,NaN

In [268]:
##########################
# superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid, id_lineage['superkingdom'], read_count)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )

count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count)*100
count_superkingdom.to_csv('./result/count_superkingdom_accuracy85.csv', encoding='utf-8')
count_superkingdom

                  name  read_count  percentage
superkingdom
2             Bacteria      583048   99.999828

In [269]:
####################
# phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid, id_lineage['phylum'], read_count)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count)*100
count_phylum.to_csv('./result/count_phylum_accuracy85.csv', encoding='utf-8')
count_phylum

                   name  read_count  percentage
phylum
976       Bacteroidetes      310901   53.323306
1239         Firmicutes      106566   18.277366
1224     Proteobacteria       72089   12.364141
74201   Verrucomicrobia       45623    7.824900
32066      Fusobacteria       45596    7.820269
201174   Actinobacteria          17    0.002916
203691     Spirochaetes           1    0.000172
544448      Tenericutes           1    0.000172
65842     Fibrobacteres           1    0.000172

In [270]:
####################
# class: Read count 

class_ = pd.DataFrame(list(zip(taxid, id_lineage['class'], read_count)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count)*100
count_class.to_csv('./result/count_class_accuracy85.csv', encoding='utf-8')
count_class

                          name  read_count  percentage
class
200643             Bacteroidia      310783   53.303067
1236       Gammaproteobacteria       61395   10.529990
909932           Negativicutes       59285   10.168099
186801              Clostridia       45710    7.839821
203494        Verrucomicrobiae       45611    7.822842
203490           Fusobacteriia       45596    7.820269
28216       Betaproteobacteria       10549    1.809282
91061                  Bacilli         815    0.139782
526524        Erysipelotrichia         181    0.031044
28221      Deltaproteobacteria          94    0.016122
117747        Sphingobacteriia          21    0.003602
1853228          Chitinophagia          15    0.002573
1760            Actinobacteria          10    0.001715
28211      Alphaproteobacteria           9    0.001544
84998           Coriobacteriia           6    0.001029
768503              Cytophagia           6    0.001029
117743          Flavobacteriia           5    0.000858
414999                Opitutae           3    0.000515
1737404           Tissierellia           3    0.000515
29547    Epsilonproteobacteria           1    0.000172
31969               Mollicutes           1    0.000172
1937959            Saprospiria           1    0.000172
203692            Spirochaetia           1    0.000172
1497346        Thermoleophilia           1    0.000172
1860136       Chitinispirillia           1    0.000172

In [271]:
####################
# order: Read count 

order = pd.DataFrame(list(zip(taxid, id_lineage['order'], read_count)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count)*100
count_order.to_csv('./result/count_order_accuracy85.csv', encoding='utf-8')
count_order

                        name  read_count  percentage
order
171549         Bacteroidales      310734   53.294663
91347       Enterobacterales       59992   10.289358
186802         Clostridiales       45706    7.839135
48461     Verrucomicrobiales       45611    7.822842
203491       Fusobacteriales       45596    7.820269
1843488    Acidaminococcales       38227    6.556396
80840        Burkholderiales       10446    1.791616
186826       Lactobacillales         786    0.134809
526525    Erysipelotrichales         181    0.031044
135624         Aeromonadales         175    0.030015
213115    Desulfovibrionales          90    0.015436
909929       Selenomonadales          23    0.003945
1385              Bacillales          21    0.003602
200666    Sphingobacteriales          21    0.003602
1853229      Chitinophagales          15    0.002573
1843489       Veillonellales          10    0.001715
135618       Methylococcales           9    0.001544
135622       Alteromonadales           9    0.001544
135623           Vibrionales           8    0.001372
356              Rhizobiales           8    0.001372
135625        Pasteurellales           8    0.001372
1970189     Marinilabiliales           7    0.001201
72274        Pseudomonadales           7    0.001201
768507          Cytophagales           6    0.001029
1643822       Eggerthellales           6    0.001029
200644      Flavobacteriales           5    0.000858
85011       Streptomycetales           4    0.000686
415001       Puniceicoccales           3    0.000515
213462   Syntrophobacterales           3    0.000515
206389         Rhodocyclales           2    0.000343
135614       Xanthomonadales           2    0.000343
135613          Chromatiales           2    0.000343
213849     Campylobacterales           1    0.000172
2085         Mycoplasmatales           1    0.000172
135615     Cardiobacteriales           1    0.000172
2037         Actinomycetales           1    0.000172
53433        Halanaerobiales           1    0.000172
588673   Solirubrobacterales           1    0.000172
1936988        Saprospirales           1    0.000172
1860137   Chitinispirillales           1    0.000172
85004      Bifidobacteriales           1    0.000172
85006          Micrococcales           1    0.000172
85007      Corynebacteriales           1    0.000172
85009    Propionibacteriales           1    0.000172
1737405       Tissierellales           1    0.000172
136           Spirochaetales           1    0.000172

In [272]:
####################
# family: Read count 

family = pd.DataFrame(list(zip(taxid, id_lineage['family'], read_count)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count)*100
count_family.to_csv('./result/count_family_accracy85.csv', encoding='utf-8')
count_family

                                              name  read_count  percentage
family
815                                 Bacteroidaceae      222907   38.231264
171552                              Prevotellaceae       67644   11.601769
203492                            Fusobacteriaceae       45593    7.819754
1647988                            Akkermansiaceae       45104    7.735885
543                             Enterobacteriaceae       41453    7.109694
909930                          Acidaminococcaceae       38227    6.556396
186803                             Lachnospiraceae       37657    6.458634
2005525                             Tannerellaceae       14975    2.568395
995019                              Sutterellaceae        9364    1.606040
541000                             Ruminococcaceae        3935    0.674900
216572                            Oscillospiraceae        1222    0.209588
1853231                           Odoribacteraceae        1172    0.201012
1300                              Streptococcaceae         715    0.122631
171550                               Rikenellaceae         365    0.062602
128827                         Erysipelotrichaceae         181    0.031044
84642                               Aeromonadaceae         175    0.030015
1903410                          Pectobacteriaceae         142    0.024355
1903409                                Erwiniaceae         121    0.020753
1903414                             Morganellaceae          94    0.016122
1903411                               Yersiniaceae          94    0.016122
194924                         Desulfovibrionaceae          90    0.015436
1903412                                 Hafniaceae          66    0.011320
186828                           Carnobacteriaceae          30    0.005145
186804                       Peptostreptococcaceae          26    0.004459
171551                          Porphyromonadaceae          21    0.003602
84566                          Sphingobacteriaceae          21    0.003602
1843490                              Sporomusaceae          18    0.003087
563835                            Chitinophagaceae          15    0.002573
81852                              Enterococcaceae          11    0.001887
186807                              Peptococcaceae          11    0.001887
...                                            ...         ...         ...
2008794                               Zoogloeaceae           2    0.000343
31984                            Heliobacteriaceae           2    0.000343
2005520                          Dysgonamonadaceae           2    0.000343
1570339                           Peptoniphilaceae           1    0.000172
72276                       Ectothiorhodospiraceae           1    0.000172
1653                            Corynebacteriaceae           1    0.000172
1573805                             Marinifilaceae           1    0.000172
119060                            Burkholderiaceae           1    0.000172
82115                                 Rhizobiaceae           1    0.000172
135621                            Pseudomonadaceae           1    0.000172
868                             Cardiobacteriaceae           1    0.000172
89374                               Saprospiraceae           1    0.000172
1268                                Micrococcaceae           1    0.000172
137                                Spirochaetaceae           1    0.000172
31953                           Bifidobacteriaceae           1    0.000172
1860138                        Chitinispirillaceae           1    0.000172
186806                              Eubacteriaceae           1    0.000172
31957                         Propionibacteriaceae           1    0.000172
543314   Clostridiales Family XIII. Incertae Sedis           1    0.000172
543313    Clostridiales Family XII. Incertae Sedis           1    0.000172
186827                               Aerococcaceae           1    0.000172
53434                           Halobacteroidaceae           1    0.000172
506                                 Alcaligenaceae           1    0.000172
45401                            Hyphomicrobiaceae           1    0.000172
2049                              Actinomycetaceae           1    0.000172
41294                            Bradyrhizobiaceae           1    0.000172
2092                              Mycoplasmataceae           1    0.000172
361606                           Patulibacteraceae           1    0.000172
267888                      Pseudoalteromonadaceae           1    0.000172
1046                                 Chromatiaceae           1    0.000172

[86 rows x 3 columns]

In [273]:
####################
# genus: Read count 

genus = pd.DataFrame(list(zip(taxid, id_lineage['genus'], read_count)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count)*100
count_genus.to_csv('./result/count_genus_accuracy85.csv', encoding='utf-8')
count_genus

                          name  read_count  percentage
genus
816                Bacteroides      222529   38.166432
838                 Prevotella       59566   10.216294
848              Fusobacterium       45294    7.768472
239934             Akkermansia       45104    7.735885
1506553      Lachnoclostridium       24981    4.284546
375288         Parabacteroides       14733    2.526889
570                 Klebsiella        9818    1.683906
40544               Sutterella        7850    1.346371
2039240           Anaerotignum        5873    1.007291
544                Citrobacter        3052    0.523455
577309          Paraprevotella        2744    0.470629
459786           Oscillibacter        1222    0.209588
283168             Odoribacter        1170    0.200669
561                Escherichia        1056    0.181117
572511                 Blautia         875    0.150073
620                   Shigella         684    0.117314
547               Enterobacter         661    0.113370
1357               Lactococcus         603    0.103422
239759               Alistipes         362    0.062087
642                  Aeromonas         174    0.029843
122277          Pectobacterium         126    0.021611
1301             Streptococcus         111    0.019038
1330547              Kosakonia         108    0.018523
33024    Phascolarctobacterium          91    0.015608
83654                Leclercia          80    0.013721
160674              Raoultella          77    0.013206
2005359          Faecalicatena          77    0.013206
872              Desulfovibrio          75    0.012863
613                   Serratia          55    0.009433
82986                Tatumella          50    0.008576
...                        ...         ...         ...
1356488         Rosenbergiella           1    0.000172
131079             Limnobacter           1    0.000172
1257        Peptostreptococcus           1    0.000172
124224              Brackiella           1    0.000172
114627            Alkaliphilus           1    0.000172
112902           Propionispora           1    0.000172
109471              Bisgaardia           1    0.000172
1892380           Harryflintia           1    0.000172
1905344       Ruthenibacterium           1    0.000172
1912216          Cutibacterium           1    0.000172
336830         Arsukibacterium           1    0.000172
451512          Mangrovibacter           1    0.000172
406099           Aquisalimonas           1    0.000172
39948                Dialister           1    0.000172
379899                Niabella           1    0.000172
376469             Olivibacter           1    0.000172
361607            Patulibacter           1    0.000172
34037                 Rahnella           1    0.000172
33986          Exiguobacterium           1    0.000172
1082702              Lonsdalea           1    0.000172
1923867                Gabonia           1    0.000172
286                Pseudomonas           1    0.000172
2747            Carnobacterium           1    0.000172
244825             Anaerospora           1    0.000172
237             Flavobacterium           1    0.000172
223927        Oxalicibacterium           1    0.000172
2100764                  Mixta           1    0.000172
2093                Mycoplasma           1    0.000172
204475                Gemmiger           1    0.000172
929812              Gibbsiella           1    0.000172

[155 rows x 3 columns]

In [274]:
####################
# species: Read count 

species = pd.DataFrame(list(zip(taxid, id_lineage['species'], read_count)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count)*100
count_species.to_csv('./result/count_species_accuracy85.csv', encoding='utf-8')
count_species

                                   name  read_count  percentage
species
310297             Bacteroides plebeius       84140   14.431034
363265             Prevotella stercorea       59285   10.168099
821                Bacteroides vulgatus       46209    7.925406
239935          Akkermansia muciniphila       45099    7.735027
46506             Bacteroides stercoris       43296    7.425791
856                Fusobacterium varium       37593    6.447657
47678                Bacteroides caccae       20441    3.505880
208479            [Clostridium] bolteae       18389    3.153937
823          Parabacteroides distasonis        8855    1.518740
573               Klebsiella pneumoniae        8742    1.499359
820               Bacteroides uniformis        8420    1.444132
40545         Sutterella wadsworthensis        7716    1.323388
861              Fusobacterium ulcerans        7227    1.239518
160404   Anaerotignum lactatifermentans        5860    1.005061
46503            Parabacteroides merdae        5832    1.000259
28116                Bacteroides ovatus        4893    0.839209
1531      [Clostridium] clostridioforme        3153    0.540778
818        Bacteroides thetaiotaomicron        2846    0.488124
454154             Paraprevotella clara        2741    0.470115
357276                Bacteroides dorei        2409    0.413173
626929               Bacteroides clarus        2259    0.387446
546                Citrobacter freundii        1721    0.295172
371601        Bacteroides xylanisolvens        1657    0.284196
291644           Bacteroides salyersiae        1170    0.200669
28118          Odoribacter splanchnicus        1170    0.200669
351091      Oscillibacter valericigenes        1088    0.186605
358742          [Clostridium] aldenense        1016    0.174256
1463165      Klebsiella quasipneumoniae         916    0.157105
310298            Bacteroides coprocola         915    0.156934
674529               Bacteroides faecis         824    0.141326
...                                 ...         ...         ...
1799789      Paraglaciecola hydrolytica           1    0.000172
1778671                Limnobacter humi           1    0.000172
1752077               Niabella pedocola           1    0.000172
1747                Cutibacterium acnes           1    0.000172
1703337             Prevotella colorans           1    0.000172
1686296            Gabonia massiliensis           1    0.000172
569859         Desulfosporosinus hippei           1    0.000172
208226     Alkaliphilus metalliredigens           1    0.000172
516074     Providencia burhodogranariea           1    0.000172
216816           Bifidobacterium longum           1    0.000172
52443                    Vibrio tapetis           1    0.000172
53336                  Tatumella citrea           1    0.000172
53399      Hyphomicrobium denitrificans           1    0.000172
28129              Prevotella denticola           1    0.000172
539813                Enterobacter mori           1    0.000172
544645             Butyricimonas virosa           1    0.000172
28114               Porphyromonas levii           1    0.000172
28113       Bacteroides heparinolyticus           1    0.000172
271097             Shewanella sediminis           1    0.000172
260365            Shewanella aquimarina           1    0.000172
255457              Ochrobactrum lupini           1    0.000172
249189       Enterococcus hermanniensis           1    0.000172
244830        Anaerospora hongkongensis           1    0.000172
2378                    Sporomusa ovata           1    0.000172
55209                Pantoea cypripedii           1    0.000172
219290              Mycoplasma vulturii           1    0.000172
553                    Pantoea ananatis           1    0.000172
218538                Dialister invisus           1    0.000172
55504             Sporomusa silvacetica           1    0.000172
979627        Lachnoanaerobaculum orale           1    0.000172

[469 rows x 3 columns]

### Accuracy >= 80%

In [275]:
data = pd.read_csv('./accuracy_read/taxid_list80.csv', encoding = 'utf-8')

data.head()

   taxid  read_count
0      2        5756
1     89           1
2    126           1
3    154           1
4    292           1

In [276]:
taxid = list(data['taxid'])
read_count = list(data['read_count'])

total_count = len(data_accuracy80)

###############
# taxid to name

name = ncbi.get_taxid_translator(taxid)


###############
# taxid to rank
rank = ncbi.get_rank([taxid[0]])

In [277]:
##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage = pd.DataFrame(columns= ['taxid'])
id_lineage['taxid'] = taxid
id_lineage.head()

   taxid
0      2
1     89
2    126
3    154
4    292

In [278]:
###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid)):
    L = ncbi.get_lineage(taxid[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage.at[i, list(rank.values())[0]] = str(node)

/Users/hou/anaconda3/lib/python3.6/site-packages/ete3/ncbi_taxonomy/ncbiquery.py:240: UserWarning: taxid 140100 was translated into 666
  warnings.warn("taxid %s was translated into %s" %(taxid, merged_conversion[taxid]))

In [279]:
##########################
# superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid, id_lineage['superkingdom'], read_count)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )

count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count)*100
count_superkingdom.to_csv('./result/count_superkingdom_accuracy80.csv', encoding='utf-8')
count_superkingdom

                  name  read_count  percentage
superkingdom
2             Bacteria      725905   99.999724

In [280]:
####################
# phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid, id_lineage['phylum'], read_count)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count)*100
count_phylum.to_csv('./result/count_phylum_accuracy80.csv', encoding='utf-8')
count_phylum

                         name  read_count  percentage
phylum
976             Bacteroidetes      385908   53.162182
1239               Firmicutes      134476   18.525238
1224           Proteobacteria       91476   12.601614
74201         Verrucomicrobia       54222    7.469552
32066            Fusobacteria       53965    7.434148
201174         Actinobacteria          23    0.003168
203691           Spirochaetes           2    0.000276
544448            Tenericutes           2    0.000276
1117            Cyanobacteria           1    0.000138
203682         Planctomycetes           1    0.000138
2138240  Coprothermobacterota           1    0.000138
65842           Fibrobacteres           1    0.000138
74152           Elusimicrobia           1    0.000138

In [281]:
####################
# class: Read count 

class_ = pd.DataFrame(list(zip(taxid, id_lineage['class'], read_count)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count)*100
count_class.to_csv('./result/count_class_accuracy80.csv', encoding='utf-8')
count_class

                          name  read_count  percentage
class
200643             Bacteroidia      385712   53.135181
1236       Gammaproteobacteria       76890   10.592266
909932           Negativicutes       71550    9.856635
186801              Clostridia       60521    8.337294
203494        Verrucomicrobiae       54202    7.466797
203490           Fusobacteriia       53965    7.434148
28216       Betaproteobacteria       13991    1.927382
91061                  Bacilli        1012    0.139412
28221      Deltaproteobacteria         493    0.067915
526524        Erysipelotrichia         221    0.030445
117747        Sphingobacteriia          26    0.003582
1853228          Chitinophagia          20    0.002755
1760            Actinobacteria          14    0.001929
28211      Alphaproteobacteria          12    0.001653
768503              Cytophagia          12    0.001653
117743          Flavobacteriia           8    0.001102
84998           Coriobacteriia           7    0.000964
414999                Opitutae           3    0.000413
1737404           Tissierellia           3    0.000413
29547    Epsilonproteobacteria           2    0.000276
31969               Mollicutes           2    0.000276
1497346        Thermoleophilia           2    0.000276
203692            Spirochaetia           2    0.000276
2138243    Coprothermobacteria           1    0.000138
203683          Planctomycetia           1    0.000138
1937959            Saprospiria           1    0.000138
1860136       Chitinispirillia           1    0.000138
641853           Elusimicrobia           1    0.000138

In [282]:
####################
# order: Read count 

order = pd.DataFrame(list(zip(taxid, id_lineage['order'], read_count)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count)*100
count_order.to_csv('./result/count_order_accuracy80.csv', encoding='utf-8')
count_order

                          name  read_count  percentage
order
171549           Bacteroidales      385634   53.124436
91347         Enterobacterales       74714   10.292503
186802           Clostridiales       60516    8.336605
48461       Verrucomicrobiales       54202    7.466797
203491         Fusobacteriales       53965    7.434148
1843488      Acidaminococcales       46522    6.408810
80840          Burkholderiales       13732    1.891702
186826         Lactobacillales         969    0.133488
213115      Desulfovibrionales         487    0.067088
135624           Aeromonadales         227    0.031271
526525      Erysipelotrichales         221    0.030445
909929         Selenomonadales         148    0.020388
135623             Vibrionales         143    0.019699
1385                Bacillales          30    0.004133
200666      Sphingobacteriales          26    0.003582
1853229        Chitinophagales          20    0.002755
135622         Alteromonadales          15    0.002066
1843489         Veillonellales          13    0.001791
768507            Cytophagales          12    0.001653
135618         Methylococcales           9    0.001240
72274          Pseudomonadales           9    0.001240
1970189       Marinilabiliales           9    0.001240
135625          Pasteurellales           9    0.001240
200644        Flavobacteriales           8    0.001102
356                Rhizobiales           8    0.001102
1643822         Eggerthellales           7    0.000964
135614         Xanthomonadales           5    0.000689
85006            Micrococcales           4    0.000551
85011         Streptomycetales           4    0.000551
213462     Syntrophobacterales           4    0.000551
135613            Chromatiales           3    0.000413
206389           Rhodocyclales           3    0.000413
415001         Puniceicoccales           3    0.000413
32003         Nitrosomonadales           2    0.000276
135615       Cardiobacteriales           2    0.000276
213849       Campylobacterales           2    0.000276
2085           Mycoplasmatales           2    0.000276
136             Spirochaetales           2    0.000276
588673     Solirubrobacterales           2    0.000276
85007        Corynebacteriales           1    0.000138
85004        Bifidobacteriales           1    0.000138
85009      Propionibacteriales           1    0.000138
641854        Elusimicrobiales           1    0.000138
112           Planctomycetales           1    0.000138
53433          Halanaerobiales           1    0.000138
52604           Pleurocapsales           1    0.000138
29                Myxococcales           1    0.000138
2138246  Coprothermobacterales           1    0.000138
204457        Sphingomonadales           1    0.000138
2037           Actinomycetales           1    0.000138
1936988          Saprospirales           1    0.000138
1860137     Chitinispirillales           1    0.000138
1737405         Tissierellales           1    0.000138
135619       Oceanospirillales           1    0.000138
204441        Rhodospirillales           1    0.000138

In [283]:
####################
# family: Read count 

family = pd.DataFrame(list(zip(taxid, id_lineage['family'], read_count)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count)*100
count_family.to_csv('./result/count_family_accracy80.csv', encoding='utf-8')
count_family

                                             name  read_count  percentage
family
815                                Bacteroidaceae      275857   38.001700
171552                             Prevotellaceae       81905   11.283126
203492                           Fusobacteriaceae       53960    7.433459
1647988                           Akkermansiaceae       53481    7.367473
543                            Enterobacteriaceae       52914    7.289364
186803                            Lachnospiraceae       48635    6.699894
909930                         Acidaminococcaceae       46522    6.408810
2005525                            Tannerellaceae       18704    2.576639
995019                             Sutterellaceae       11748    1.618389
541000                            Ruminococcaceae        5574    0.767867
216572                           Oscillospiraceae        2153    0.296594
1853231                          Odoribacteraceae        1480    0.203883
1300                             Streptococcaceae         868    0.119575
194924                        Desulfovibrionaceae         483    0.066537
171550                              Rikenellaceae         463    0.063782
1903409                               Erwiniaceae         248    0.034164
84642                              Aeromonadaceae         227    0.031271
128827                        Erysipelotrichaceae         221    0.030445
1903410                         Pectobacteriaceae         198    0.027276
1903411                              Yersiniaceae         159    0.021904
1903414                            Morganellaceae         158    0.021766
641                                  Vibrionaceae         143    0.019699
1843490                             Sporomusaceae         137    0.018873
1903412                                Hafniaceae          93    0.012812
119060                           Burkholderiaceae          49    0.006750
186828                          Carnobacteriaceae          42    0.005786
80864                              Comamonadaceae          40    0.005510
186804                      Peptostreptococcaceae          33    0.004546
84566                         Sphingobacteriaceae          26    0.003582
75682                            Oxalobacteraceae          25    0.003444
...                                           ...         ...         ...
1860138                       Chitinispirillaceae           1    0.000138
1268                               Micrococcaceae           1    0.000138
72276                      Ectothiorhodospiraceae           1    0.000138
135621                           Pseudomonadaceae           1    0.000138
1653                           Corynebacteriaceae           1    0.000138
1570339                          Peptoniphilaceae           1    0.000138
89374                              Saprospiraceae           1    0.000138
82115                                Rhizobiaceae           1    0.000138
641876                          Elusimicrobiaceae           1    0.000138
85023                           Microbacteriaceae           1    0.000138
1573805                            Marinifilaceae           1    0.000138
2138247                    Coprothermobacteraceae           1    0.000138
563798                          Cyclobacteriaceae           1    0.000138
186827                              Aerococcaceae           1    0.000138
224464                               Kofleriaceae           1    0.000138
267888                     Pseudoalteromonadaceae           1    0.000138
28256                              Halomonadaceae           1    0.000138
31953                          Bifidobacteriaceae           1    0.000138
31957                        Propionibacteriaceae           1    0.000138
2049                             Actinomycetaceae           1    0.000138
320583                          Conexibacteraceae           1    0.000138
361606                          Patulibacteraceae           1    0.000138
41294                           Bradyrhizobiaceae           1    0.000138
45401                           Hyphomicrobiaceae           1    0.000138
200667                           Flammeovirgaceae           1    0.000138
2005519                           Barnesiellaceae           1    0.000138
53434                          Halobacteroidaceae           1    0.000138
1903416                              Budviciaceae           1    0.000138
543313   Clostridiales Family XII. Incertae Sedis           1    0.000138
1890498                         Dermocarpellaceae           1    0.000138

[104 rows x 3 columns]

In [284]:
####################
# genus: Read count 

genus = pd.DataFrame(list(zip(taxid, id_lineage['genus'], read_count)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count)*100
count_genus.to_csv('./result/count_genus_accuracy80.csv', encoding='utf-8')
count_genus

                          name  read_count  percentage
genus
816                Bacteroides      275274   37.921387
838                 Prevotella       71370    9.831838
848              Fusobacterium       53593    7.382902
239934             Akkermansia       53481    7.367473
1506553      Lachnoclostridium       32117    4.424396
375288         Parabacteroides       18436    2.539719
570                 Klebsiella       12927    1.780807
40544               Sutterella        9455    1.302508
2039240           Anaerotignum        7093    0.977122
544                Citrobacter        4155    0.572387
577309          Paraprevotella        3456    0.476094
459786           Oscillibacter        2153    0.296594
283168             Odoribacter        1475    0.203194
561                Escherichia        1409    0.194102
572511                 Blautia        1148    0.158147
547               Enterobacter         976    0.134452
620                   Shigella         904    0.124534
1357               Lactococcus         724    0.099737
239759               Alistipes         459    0.063231
872              Desulfovibrio         400    0.055103
642                  Aeromonas         223    0.030720
1330547              Kosakonia         171    0.023557
122277          Pectobacterium         163    0.022455
2005359          Faecalicatena         163    0.022455
1301             Streptococcus         142    0.019562
33024    Phascolarctobacterium         133    0.018322
160674              Raoultella         118    0.016256
83654                Leclercia         112    0.015429
82986                Tatumella          96    0.013225
662                     Vibrio          94    0.012949
...                        ...         ...         ...
511678              Aliivibrio           1    0.000138
1892380           Harryflintia           1    0.000138
445219              Reyranella           1    0.000138
44249            Paenibacillus           1    0.000138
423604          Elusimicrobium           1    0.000138
406099           Aquisalimonas           1    0.000138
361607            Patulibacter           1    0.000138
358023              Lutibacter           1    0.000138
354354               Niastella           1    0.000138
34072               Variovorax           1    0.000138
33986          Exiguobacterium           1    0.000138
303379           Herminiimonas           1    0.000138
29574               Taylorella           1    0.000138
29526          Syntrophobacter           1    0.000138
286                Pseudomonas           1    0.000138
102115               Stanieria           1    0.000138
2747            Carnobacterium           1    0.000138
2745                 Halomonas           1    0.000138
2582836      Desulfohalovibrio           1    0.000138
256818            Gulosibacter           1    0.000138
2373                 Acetonema           1    0.000138
237             Flavobacterium           1    0.000138
2304692    Hungateiclostridium           1    0.000138
223927        Oxalicibacterium           1    0.000138
2055880       Pseudescherichia           1    0.000138
204475                Gemmiger           1    0.000138
1923867                Gabonia           1    0.000138
191494            Conexibacter           1    0.000138
1912216          Cutibacterium           1    0.000138
970                Selenomonas           1    0.000138

[213 rows x 3 columns]

In [285]:
####################
# species: Read count 

species = pd.DataFrame(list(zip(taxid, id_lineage['species'], read_count)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count)*100
count_species.to_csv('./result/count_species_accuracy80.csv', encoding='utf-8')
count_species

                                   name  read_count  percentage
species
310297             Bacteroides plebeius      104286   14.366303
363265             Prevotella stercorea       70758    9.747530
821                Bacteroides vulgatus       55343    7.623979
46506             Bacteroides stercoris       54435    7.498894
239935          Akkermansia muciniphila       53470    7.365957
856                Fusobacterium varium       44944    6.191427
47678                Bacteroides caccae       24788    3.414762
208479            [Clostridium] bolteae       22948    3.161287
573               Klebsiella pneumoniae       11471    1.580230
823          Parabacteroides distasonis       11243    1.548821
820               Bacteroides uniformis       10297    1.418501
40545         Sutterella wadsworthensis        9216    1.269584
861              Fusobacterium ulcerans        7752    1.067905
46503            Parabacteroides merdae        7121    0.980980
160404   Anaerotignum lactatifermentans        7071    0.974092
28116                Bacteroides ovatus        6030    0.830685
1531      [Clostridium] clostridioforme        4276    0.589056
818        Bacteroides thetaiotaomicron        3517    0.484497
454154             Paraprevotella clara        3450    0.475267
626929               Bacteroides clarus        3141    0.432700
357276                Bacteroides dorei        2906    0.400327
546                Citrobacter freundii        2393    0.329657
371601        Bacteroides xylanisolvens        2169    0.298799
351091      Oscillibacter valericigenes        1862    0.256507
28118          Odoribacter splanchnicus        1475    0.203194
291644           Bacteroides salyersiae        1442    0.198648
358742          [Clostridium] aldenense        1299    0.178949
1463165      Klebsiella quasipneumoniae        1200    0.165310
674529               Bacteroides faecis        1141    0.157183
310298            Bacteroides coprocola        1135    0.156356
...                                 ...         ...         ...
50719                 Vibrio diabolicus           1    0.000138
242600     Ichthyobacterium seriolicida           1    0.000138
510955       Chryseobacterium solincola           1    0.000138
2378                    Sporomusa ovata           1    0.000138
516074     Providencia burhodogranariea           1    0.000138
516075              Providencia sneebia           1    0.000138
516702          Pigmentiphaga litoralis           1    0.000138
2374                   Acetonema longum           1    0.000138
219290              Mycoplasma vulturii           1    0.000138
218936                 Aeromonas simiae           1    0.000138
53399      Hyphomicrobium denitrificans           1    0.000138
216816           Bifidobacterium longum           1    0.000138
539813                Enterobacter mori           1    0.000138
214856             Alistipes finegoldii           1    0.000138
2120            Mycoplasma neurolyticum           1    0.000138
208226     Alkaliphilus metalliredigens           1    0.000138
208223                Kosakonia cowanii           1    0.000138
2034155                 Serratia oryzae           1    0.000138
2017550            Oceanisphaera marina           1    0.000138
201571       Desulfovibrio vietnamensis           1    0.000138
196015         Caldimonas manganoxidans           1    0.000138
1940611         Conexibacter stalactiti           1    0.000138
190892               Idiomarina baltica           1    0.000138
553611        Photobacterium leiognathi           1    0.000138
189723                Prevotella micans           1    0.000138
55504             Sporomusa silvacetica           1    0.000138
187491          Corynebacterium glaucum           1    0.000138
1874115     Sphingobacterium alkalisoli           1    0.000138
558964               Aeromonas aquatica           1    0.000138
340956           Desulfovibrio frigidus           1    0.000138

[642 rows x 3 columns]