### Part 0: Import and Download NCBI Taxa Database

reference:http://etetoolkit.org/docs/latest/tutorial/tutorial_ncbitaxonomy.html

In [1]:
import numpy as np
import pandas as pd
from ete3 import NCBITaxa

In [2]:
# Download NCBI Taxa Database
ncbi = NCBITaxa()
#ncbi.update_taxonomy_database()

### Part 1: Read Nanopore Data

In [50]:
#################################################
# Select raw data 
# (1) 'exit_status' == 'Classification successful'
# (2) 'barcode' == BC01, BC02, BC03, BC04

raw = pd.read_csv('./nanopore_preprocess_data/190807_classification_16s_barcode-v1.csv', encoding = 'utf-8')


#####
#BC01
#####
raw_sucess_BC01 = raw[(raw['exit_status'] == 'Classification successful') & (raw['barcode'] == 'BC01')]

raw_sucess_BC01.to_csv('./190807result/raw_sucess_BC01.csv', encoding='utf-8')
print('BC01 read count:', len(raw_sucess_BC01))


#####
#BC02
#####
raw_sucess_BC02 = raw[(raw['exit_status'] == 'Classification successful') & (raw['barcode'] == 'BC02')]

raw_sucess_BC02.to_csv('./190807result/raw_sucess_BC02.csv', encoding='utf-8')
print('BC02 read count:',len(raw_sucess_BC02))


#####
#BC03
#####
raw_sucess_BC03 = raw[(raw['exit_status'] == 'Classification successful') & (raw['barcode'] == 'BC03')]

raw_sucess_BC03.to_csv('./190807result/raw_sucess_BC03.csv', encoding='utf-8')
print('BC03 read count:',len(raw_sucess_BC03))



#####
#BC04
#####
raw_sucess_BC04 = raw[(raw['exit_status'] == 'Classification successful') & (raw['barcode'] == 'BC04')]

raw_sucess_BC04.to_csv('./190807result/raw_sucess_BC04.csv', encoding='utf-8')
print('BC04 read count:',len(raw_sucess_BC04))

BC01 read count: 73
BC02 read count: 138
BC03 read count: 30
BC04 read count: 6893

In [6]:
#####################
# BC01 groupby taxid

taxid_list_bc01 = pd.DataFrame(raw_sucess_BC01.groupby('taxid').count()['read_id'])

taxid_list_bc01.columns = ['read_count']

taxid_list_bc01.to_csv('./190807result/taxid_list_bc01.csv', encoding='utf-8')
taxid_list_bc01.head()



#####################
# BC02 groupby taxid

taxid_list_bc02 = pd.DataFrame(raw_sucess_BC02.groupby('taxid').count()['read_id'])

taxid_list_bc02.columns = ['read_count']

taxid_list_bc02.to_csv('./190807result/taxid_list_bc02.csv', encoding='utf-8')
taxid_list_bc02.head()


#####################
# BC03 groupby taxid

taxid_list_bc03 = pd.DataFrame(raw_sucess_BC03.groupby('taxid').count()['read_id'])

taxid_list_bc03.columns = ['read_count']

taxid_list_bc03.to_csv('./190807result/taxid_list_bc03.csv', encoding='utf-8')
taxid_list_bc03.head()



#####################
# BC03 groupby taxid

taxid_list_bc04 = pd.DataFrame(raw_sucess_BC04.groupby('taxid').count()['read_id'])

taxid_list_bc04.columns = ['read_count']

taxid_list_bc04.to_csv('./190807result/taxid_list_bc04.csv', encoding='utf-8')
taxid_list_bc04.head()

       read_count
taxid
2              84
403             1
543           346
545             1
546            23

### Part 2: Analysis 16s

### No Selection in accuracy

In [51]:
##############
# BC01 lineage
##############

############
# get taxid 

taxid01 = list(taxid_list_bc01.index)
read_count01 = list(taxid_list_bc01['read_count'])
total_count01 = len(raw_sucess_BC01)


##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage01 = pd.DataFrame(columns= ['taxid'])
id_lineage01['taxid'] = taxid01
id_lineage01.head()

###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid01)):
    L = ncbi.get_lineage(taxid01[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage01.at[i, list(rank.values())[0]] = str(node)
        

id_lineage01.head()
      
    
    
##############
# BC02 lineage
##############

############
# get taxid 

taxid02 = list(taxid_list_bc02.index)
read_count02 = list(taxid_list_bc02['read_count'])
total_count02 = len(raw_sucess_BC02)


##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage02 = pd.DataFrame(columns= ['taxid'])
id_lineage02['taxid'] = taxid02
id_lineage02.head()

###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid02)):
    L = ncbi.get_lineage(taxid02[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage02.at[i, list(rank.values())[0]] = str(node)
        

id_lineage02.head()




##############
# BC03 lineage
##############

############
# get taxid 

taxid03 = list(taxid_list_bc03.index)
read_count03 = list(taxid_list_bc03['read_count'])
total_count03 = len(raw_sucess_BC03)


##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage03 = pd.DataFrame(columns= ['taxid'])
id_lineage03['taxid'] = taxid03
id_lineage03.head()

###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid03)):
    L = ncbi.get_lineage(taxid03[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage03.at[i, list(rank.values())[0]] = str(node)
        

id_lineage03.head()



##############
# BC04 lineage
##############

############
# get taxid 

taxid04 = list(taxid_list_bc04.index)
read_count04 = list(taxid_list_bc04['read_count'])
total_count04 = len(raw_sucess_BC04)


##########################################################
# Create id_lineage dataframe to match the id with lineage

id_lineage04 = pd.DataFrame(columns= ['taxid'])
id_lineage04['taxid'] = taxid04
id_lineage04.head()

###############################################
# the lineage of id add to id_lineage dataframe

for i in range(len(taxid04)):
    L = ncbi.get_lineage(taxid04[i])
    
    for node in L:
        
        rank = ncbi.get_rank([node])
        id_lineage04.at[i, list(rank.values())[0]] = str(node)
        

id_lineage04.head()

/Users/hou/anaconda3/lib/python3.6/site-packages/ete3/ncbi_taxonomy/ncbiquery.py:240: UserWarning: taxid 415850 was translated into 1463164
  warnings.warn("taxid %s was translated into %s" %(taxid, merged_conversion[taxid]))

,taxid,no rank,superkingdom,phylum,class,order,family,genus,species,species group,subspecies,subphylum
0,2,131567,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,403,131567,2,1224,1236,135618,403,NaN,NaN,NaN,NaN,NaN
2,543,131567,2,1224,1236,91347,543,NaN,NaN,NaN,NaN,NaN
3,545,131567,2,1224,1236,91347,543,544,545,NaN,NaN,NaN
4,546,131567,2,1224,1236,91347,543,544,546,1344959,NaN,NaN

In [29]:
###############################
# BC01 superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid01, id_lineage01['superkingdom'], read_count01)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )


count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count01)*100
count_superkingdom.to_csv('./190807result/BC01_count_superkingdom_noSelect.csv', encoding='utf-8')
count_superkingdom




###############################
# BC02 superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid02, id_lineage02['superkingdom'], read_count02)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )


count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count02)*100
count_superkingdom.to_csv('./190807result/BC02_count_superkingdom_noSelect.csv', encoding='utf-8')
count_superkingdom


###############################
# BC03 superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid03, id_lineage03['superkingdom'], read_count03)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )


count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count03)*100
count_superkingdom.to_csv('./190807result/BC03_count_superkingdom_noSelect.csv', encoding='utf-8')
count_superkingdom


###############################
# BC04 superkingdom: Read count 

superkingdom = pd.DataFrame(list(zip(taxid04, id_lineage04['superkingdom'], read_count04)), 
                            columns=['taxid', 'superkingdom', 'read_count'] )


count_superkingdom = pd.DataFrame(superkingdom.groupby('superkingdom')['read_count'].sum())
count_superkingdom.insert(0, 'name', '')


name = []
for i in count_superkingdom.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_superkingdom['name'] = name
count_superkingdom = count_superkingdom.sort_values(by=['read_count'], ascending=False)

count_superkingdom['percentage'] = (count_superkingdom['read_count'] / total_count04)*100
count_superkingdom.to_csv('./190807result/BC04_count_superkingdom_noSelect.csv', encoding='utf-8')
count_superkingdom

                  name  read_count  percentage
superkingdom
2             Bacteria        6892   99.985493

In [33]:
#########################
# BC01 phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid01, id_lineage01['phylum'], read_count01)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count01)*100
count_phylum.to_csv('./190807result/BC01_count_phylum_noSelect.csv', encoding='utf-8')
count_phylum


#########################
# BC02 phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid02, id_lineage02['phylum'], read_count02)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count02)*100
count_phylum.to_csv('./190807result/BC02_count_phylum_noSelect.csv', encoding='utf-8')
count_phylum


#########################
# BC03 phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid03, id_lineage03['phylum'], read_count03)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count03)*100
count_phylum.to_csv('./190807result/BC03_count_phylum_noSelect.csv', encoding='utf-8')
count_phylum


#########################
# BC04 phylum: Read count 

phylum = pd.DataFrame(list(zip(taxid04, id_lineage04['phylum'], read_count04)), 
                            columns=['taxid', 'phylum', 'read_count'] )


count_phylum = pd.DataFrame(phylum.groupby('phylum')['read_count'].sum())
count_phylum.insert(0, 'name', '')


name = []
for i in count_phylum.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_phylum['name'] = name
count_phylum = count_phylum.sort_values(by=['read_count'], ascending=False)

count_phylum['percentage'] = (count_phylum['read_count'] / total_count04)*100
count_phylum.to_csv('./190807result/BC04_count_phylum_noSelect.csv', encoding='utf-8')
count_phylum

                   name  read_count  percentage
phylum
976       Bacteroidetes        3549   51.487016
1239         Firmicutes        1357   19.686639
1224     Proteobacteria         985   14.289859
32066      Fusobacteria         533    7.732482
74201   Verrucomicrobia         369    5.353257
201174   Actinobacteria           1    0.014507

In [38]:
########################
# BC01 class: Read count 

class_ = pd.DataFrame(list(zip(taxid01, id_lineage01['class'], read_count01)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count01)*100
count_class.to_csv('./190807result/BC01_count_class_noSelect.csv', encoding='utf-8')
count_class



########################
# BC02 class: Read count 

class_ = pd.DataFrame(list(zip(taxid02, id_lineage02['class'], read_count02)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count02)*100
count_class.to_csv('./190807result/BC02_count_class_noSelect.csv', encoding='utf-8')
count_class


########################
# BC03 class: Read count 

class_ = pd.DataFrame(list(zip(taxid03, id_lineage03['class'], read_count03)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count03)*100
count_class.to_csv('./190807result/BC03_count_class_noSelect.csv', encoding='utf-8')
count_class


########################
# BC04 class: Read count 

class_ = pd.DataFrame(list(zip(taxid04, id_lineage04['class'], read_count04)), 
                            columns=['taxid', 'class', 'read_count'] )


count_class = pd.DataFrame(class_.groupby('class')['read_count'].sum())
count_class.insert(0, 'name', '')


name = []
for i in count_class.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_class['name'] = name
count_class = count_class.sort_values(by=['read_count'], ascending=False)

count_class['percentage'] = (count_class['read_count'] / total_count04)*100
count_class.to_csv('./190807result/BC04_count_class_noSelect.csv', encoding='utf-8')
count_class

                        name  read_count  percentage
class
200643           Bacteroidia        3532   51.240389
1236     Gammaproteobacteria         855   12.403888
186801            Clostridia         722   10.474394
909932         Negativicutes         582    8.443348
203490         Fusobacteriia         533    7.732482
203494      Verrucomicrobiae         367    5.324242
28216     Betaproteobacteria         122    1.769912
526524      Erysipelotrichia           7    0.101552
91061                Bacilli           6    0.087045
28221    Deltaproteobacteria           5    0.072537
117747      Sphingobacteriia           2    0.029015
1760          Actinobacteria           1    0.014507
1937959          Saprospiria           1    0.014507

In [42]:
########################
# BC01 order: Read count 

order = pd.DataFrame(list(zip(taxid01, id_lineage01['order'], read_count01)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count01)*100
count_order.to_csv('./190807result/BC01_count_order_noSelect.csv', encoding='utf-8')
count_order



########################
# BC02 order: Read count 

order = pd.DataFrame(list(zip(taxid02, id_lineage02['order'], read_count02)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count02)*100
count_order.to_csv('./190807result/BC02_count_order_noSelect.csv', encoding='utf-8')
count_order


########################
# BC03 order: Read count 

order = pd.DataFrame(list(zip(taxid03, id_lineage03['order'], read_count03)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count03)*100
count_order.to_csv('./190807result/BC03_count_order_noSelect.csv', encoding='utf-8')
count_order


########################
# BC04 order: Read count 

order = pd.DataFrame(list(zip(taxid04, id_lineage04['order'], read_count04)), 
                            columns=['taxid', 'order', 'read_count'] )


count_order = pd.DataFrame(order.groupby('order')['read_count'].sum())
count_order.insert(0, 'name', '')

name = []
for i in count_order.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_order['name'] = name
count_order = count_order.sort_values(by=['read_count'], ascending=False)

count_order['percentage'] = (count_order['read_count'] / total_count04)*100
count_order.to_csv('./190807result/BC04_count_order_noSelect.csv', encoding='utf-8')
count_order

                       name  read_count  percentage
order
171549        Bacteroidales        3528   51.182359
91347      Enterobacterales         821   11.910634
186802        Clostridiales         722   10.474394
203491      Fusobacteriales         533    7.732482
1843488   Acidaminococcales         390    5.657914
48461    Verrucomicrobiales         367    5.324242
80840       Burkholderiales         119    1.726389
526525   Erysipelotrichales           7    0.101552
213115   Desulfovibrionales           5    0.072537
186826      Lactobacillales           5    0.072537
909929      Selenomonadales           2    0.029015
135618      Methylococcales           2    0.029015
135622      Alteromonadales           2    0.029015
135623          Vibrionales           2    0.029015
200666   Sphingobacteriales           2    0.029015
1936988       Saprospirales           1    0.014507
135624        Aeromonadales           1    0.014507
85006         Micrococcales           1    0.014507

In [44]:
#########################
# BC01 family: Read count 

family = pd.DataFrame(list(zip(taxid01, id_lineage01['family'], read_count01)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count01)*100
count_family.to_csv('./190807result/BC01_count_family_noSelect.csv', encoding='utf-8')
count_family


#########################
# BC02 family: Read count 

family = pd.DataFrame(list(zip(taxid02, id_lineage02['family'], read_count02)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count02)*100
count_family.to_csv('./190807result/BC02_count_family_noSelect.csv', encoding='utf-8')
count_family


#########################
# BC03 family: Read count 

family = pd.DataFrame(list(zip(taxid03, id_lineage03['family'], read_count03)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count03)*100
count_family.to_csv('./190807result/BC03_count_family_noSelect.csv', encoding='utf-8')
count_family


#########################
# BC04 family: Read count 

family = pd.DataFrame(list(zip(taxid04, id_lineage04['family'], read_count04)), 
                            columns=['taxid', 'family', 'read_count'] )


count_family = pd.DataFrame(family.groupby('family')['read_count'].sum())
count_family.insert(0, 'name', '')

name = []
for i in count_family.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_family['name'] = name
count_family = count_family.sort_values(by=['read_count'], ascending=False)

count_family['percentage'] = (count_family['read_count'] / total_count04)*100
count_family.to_csv('./190807result/BC04_count_family_noSelect.csv', encoding='utf-8')
count_family

                                              name  read_count  percentage
family
815                                 Bacteroidaceae        2427   35.209633
171552                              Prevotellaceae         808   11.722037
543                             Enterobacteriaceae         645    9.357319
186803                             Lachnospiraceae         578    8.385318
203492                            Fusobacteriaceae         533    7.732482
909930                          Acidaminococcaceae         390    5.657914
1647988                            Akkermansiaceae         338    4.903525
2005525                             Tannerellaceae         179    2.596837
995019                              Sutterellaceae          95    1.378210
541000                             Ruminococcaceae          58    0.841433
216572                            Oscillospiraceae          23    0.333672
1853231                           Odoribacteraceae          13    0.188597
1903409                                Erwiniaceae           8    0.116060
128827                         Erysipelotrichaceae           7    0.101552
1903410                          Pectobacteriaceae           6    0.087045
1903414                             Morganellaceae           4    0.058030
194924                         Desulfovibrionaceae           4    0.058030
1903411                               Yersiniaceae           3    0.043522
1300                              Streptococcaceae           3    0.043522
403                               Methylococcaceae           2    0.029015
84566                          Sphingobacteriaceae           2    0.029015
171550                               Rikenellaceae           2    0.029015
80864                               Comamonadaceae           2    0.029015
641                                   Vibrionaceae           2    0.029015
119060                            Burkholderiaceae           2    0.029015
186804                       Peptostreptococcaceae           2    0.029015
1843490                              Sporomusaceae           2    0.029015
539000   Clostridiales Family XVII. Incertae Sedis           1    0.014507
267891                               Moritellaceae           1    0.014507
171551                          Porphyromonadaceae           1    0.014507
267889                               Colwelliaceae           1    0.014507
75682                             Oxalobacteraceae           1    0.014507
203557                         Verrucomicrobiaceae           1    0.014507
81852                              Enterococcaceae           1    0.014507
2005520                          Dysgonamonadaceae           1    0.014507
84642                               Aeromonadaceae           1    0.014507
89374                               Saprospiraceae           1    0.014507
1903412                                 Hafniaceae           1    0.014507
31984                            Heliobacteriaceae           1    0.014507

In [46]:
########################
# BC01 genus: Read count 

genus = pd.DataFrame(list(zip(taxid01, id_lineage01['genus'], read_count01)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count01)*100
count_genus.to_csv('./190807result/BC01_count_genus_noSelect.csv', encoding='utf-8')
count_genus


########################
# BC02 genus: Read count 

genus = pd.DataFrame(list(zip(taxid02, id_lineage02['genus'], read_count02)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count02)*100
count_genus.to_csv('./190807result/BC02_count_genus_noSelect.csv', encoding='utf-8')
count_genus


########################
# BC03 genus: Read count 

genus = pd.DataFrame(list(zip(taxid03, id_lineage03['genus'], read_count03)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count03)*100
count_genus.to_csv('./190807result/BC03_count_genus_noSelect.csv', encoding='utf-8')
count_genus


########################
# BC04 genus: Read count 

genus = pd.DataFrame(list(zip(taxid04, id_lineage04['genus'], read_count04)), 
                            columns=['taxid', 'genus', 'read_count'] )


count_genus = pd.DataFrame(genus.groupby('genus')['read_count'].sum())
count_genus.insert(0, 'name', '')

name = []
for i in count_genus.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_genus['name'] = name
count_genus = count_genus.sort_values(by=['read_count'], ascending=False)

count_genus['percentage'] = (count_genus['read_count'] / total_count04)*100
count_genus.to_csv('./190807result/BC04_count_genus_noSelect.csv', encoding='utf-8')
count_genus

                           name  read_count  percentage
genus
816                 Bacteroides        2415   35.035543
838                  Prevotella         683    9.908603
848               Fusobacterium         524    7.601915
1506553       Lachnoclostridium         407    5.904541
239934              Akkermansia         338    4.903525
570                  Klebsiella         182    2.640360
375288          Parabacteroides         176    2.553315
40544                Sutterella          73    1.059045
2039240            Anaerotignum          70    1.015523
544                 Citrobacter          47    0.681851
561                 Escherichia          28    0.406209
577309           Paraprevotella          23    0.333672
459786            Oscillibacter          23    0.333672
547                Enterobacter          17    0.246627
33024     Phascolarctobacterium          15    0.217612
572511                  Blautia          12    0.174090
283168              Odoribacter          12    0.174090
620                    Shigella          11    0.159582
122277           Pectobacterium           6    0.087045
160674               Raoultella           4    0.058030
1357                Lactococcus           3    0.043522
2005359           Faecalicatena           3    0.043522
53335                   Pantoea           3    0.043522
1505663  Erysipelatoclostridium           2    0.029015
872               Desulfovibrio           2    0.029015
1263               Ruminococcus           2    0.029015
1330547               Kosakonia           2    0.029015
590                  Salmonella           2    0.029015
613                    Serratia           2    0.029015
83654                 Leclercia           2    0.029015
...                         ...         ...         ...
836               Porphyromonas           1    0.014507
629                    Yersinia           1    0.014507
586                 Providencia           1    0.014507
642                   Aeromonas           1    0.014507
662                      Vibrio           1    0.014507
73778             Methylocaldum           1    0.014507
581                  Morganella           1    0.014507
579                    Kluyvera           1    0.014507
1007                 Saprospira           1    0.014507
574899               Haloferula           1    0.014507
1905344        Ruthenibacterium           1    0.014507
123375            Solobacterium           1    0.014507
131079              Limnobacter           1    0.014507
1350               Enterococcus           1    0.014507
1356488          Rosenbergiella           1    0.014507
137583            Thalassomonas           1    0.014507
1501226              Romboutsia           1    0.014507
156973             Dysgonomonas           1    0.014507
158876                Yokenella           1    0.014507
1929083           Tidjanibacter           1    0.014507
574697            Butyricimonas           1    0.014507
196013               Caldimonas           1    0.014507
2038                 Tropheryma           1    0.014507
239759                Alistipes           1    0.014507
32012                 Thiomonas           1    0.014507
365348                Pelosinus           1    0.014507
413496              Cronobacter           1    0.014507
423349         Mucilaginibacter           1    0.014507
551                     Erwinia           1    0.014507
904             Acidaminococcus           1    0.014507

[64 rows x 3 columns]

In [48]:
##########################
# BC01 species: Read count 

species = pd.DataFrame(list(zip(taxid01, id_lineage01['species'], read_count01)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count01)*100
count_species.to_csv('./190807result/BC01_count_species_noSelect.csv', encoding='utf-8')
count_species


##########################
# BC02 species: Read count 

species = pd.DataFrame(list(zip(taxid02, id_lineage02['species'], read_count02)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count02)*100
count_species.to_csv('./190807result/BC02_count_species_noSelect.csv', encoding='utf-8')
count_species


##########################
# BC03 species: Read count 

species = pd.DataFrame(list(zip(taxid03, id_lineage03['species'], read_count03)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count03)*100
count_species.to_csv('./190807result/BC03_count_species_noSelect.csv', encoding='utf-8')
count_species


##########################
# BC04 species: Read count 

species = pd.DataFrame(list(zip(taxid04, id_lineage04['species'], read_count04)), 
                            columns=['taxid', 'species', 'read_count'] )


count_species = pd.DataFrame(species.groupby('species')['read_count'].sum())
count_species.insert(0, 'name', '')

name = []
for i in count_species.index.values:
    
    name.append(list(ncbi.get_taxid_translator([i]).values())[0])
    
    
count_species['name'] = name
count_species = count_species.sort_values(by=['read_count'], ascending=False)

count_species['percentage'] = (count_species['read_count'] / total_count04)*100
count_species.to_csv('./190807result/BC04_count_species_noSelect.csv', encoding='utf-8')
count_species

                                   name  read_count  percentage
species
310297             Bacteroides plebeius         854   12.389381
363265             Prevotella stercorea         677    9.821558
821                Bacteroides vulgatus         504    7.311766
856                Fusobacterium varium         486    7.050631
46506             Bacteroides stercoris         443    6.426810
239935          Akkermansia muciniphila         335    4.860003
208479            [Clostridium] bolteae         278    4.033077
47678                Bacteroides caccae         200    2.901494
573               Klebsiella pneumoniae         152    2.205136
823          Parabacteroides distasonis         109    1.581314
820               Bacteroides uniformis          93    1.349195
40545         Sutterella wadsworthensis          70    1.015523
1531      [Clostridium] clostridioforme          68    0.986508
46503            Parabacteroides merdae          66    0.957493
160404   Anaerotignum lactatifermentans          66    0.957493
28116                Bacteroides ovatus          51    0.739881
626929               Bacteroides clarus          46    0.667344
818        Bacteroides thetaiotaomicron          33    0.478747
454154             Paraprevotella clara          23    0.333672
546                Citrobacter freundii          23    0.333672
357276                Bacteroides dorei          22    0.319164
861              Fusobacterium ulcerans          22    0.319164
564              Escherichia fergusonii          21    0.304657
1463165      Klebsiella quasipneumoniae          20    0.290149
358742          [Clostridium] aldenense          20    0.290149
371601        Bacteroides xylanisolvens          19    0.275642
691816            Bacteroides rodentium          18    0.261134
460384          [Clostridium] lavalense          17    0.246627
351091      Oscillibacter valericigenes          16    0.232120
310298            Bacteroides coprocola          16    0.232120
...                                 ...         ...         ...
1076412              Pelosinus defluvii           1    0.014507
228603                Prevotella shahii           1    0.014507
28119        Bacteroides zoogleoformans           1    0.014507
545                  Citrobacter koseri           1    0.014507
351674          Xenorhabdus miraniensis           1    0.014507
52227               Prevotella dentalis           1    0.014507
497725                 Kosakonia oryzae           1    0.014507
490092               Haloferula harenae           1    0.014507
485448           Thalassomonas haliotis           1    0.014507
477666       Bacteroides graminisolvens           1    0.014507
437898            Sutterella parvirubra           1    0.014507
40991           Thiomonas thermosulfata           1    0.014507
39482            Faecalicatena contorta           1    0.014507
391358         Caldimonas hydrothermale           1    0.014507
387661        Parabacteroides johnsonii           1    0.014507
102148             Solobacterium moorei           1    0.014507
333964               Xenorhabdus indica           1    0.014507
28123     Porphyromonas asaccharolytica           1    0.014507
328813            Alistipes onderdonkii           1    0.014507
324617                  Aeromonas tecta           1    0.014507
301302                 Roseburia faecis           1    0.014507
29348          [Clostridium] spiroforme           1    0.014507
29347            [Clostridium] scindens           1    0.014507
290055        Faecalicatena fissicatena           1    0.014507
28901               Salmonella enterica           1    0.014507
285729        Fusobacterium canifelinum           1    0.014507
28446          Anaerotignum propionicum           1    0.014507
28141             Cronobacter sakazakii           1    0.014507
28126                 Prevotella buccae           1    0.014507
905          Acidaminococcus fermentans           1    0.014507

[164 rows x 3 columns]